.main-nav {
    height: 70px; 
    color:#fff;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0 40px;
    margin: 0px;
}

.nav-logo-text {
    width: 30%;
    color: #fff;
}

.menu-container{
    width: 55%;
    display: flex;
    flex: 1;
    justify-content: center;
    flex-wrap: nowrap;
}

.main-menu {
    max-width: 300px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: flex-end;
    
}

.nav-link {
    font-size: 18px;
    font-style: normal;
    color: rgba(255,255,255,0.5);

    &.active{
        font-weight: bold;
        color:#fff;
    }

    &:hover{
        color: #fff;
    }
}

@media(max-width: 768px) {
    .menu-container {
        justify-content: flex-end;
    }
}

@media (max-width: 576px) {
    .menu-container {
        border: 1px solid green;
    }
}

