.categories-select__control {
    height: 50px;
    border-radius: 10px !important;
    border: 1px solid #E1E1E1 !important;
}

.categories-select__indicator-separator {
    display: none;
}

.categories-select__placeholder {
    color: #9E9E9E !important;
}