.product-form-container {
    display: flex;
    flex-direction: row;
}

.categories-select__control {
    height: 50px;
    border-radius: 10px !important;
    border: 1px solid #E1E1E1 !important;
}

.categories-select__indicator-separator {
    display: none;
}

.categories-select__placeholder {
    color: #9E9E9E !important;
}

@media (max-width: 576px) {
    
    .product-form-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-left: -15px;

        input {
            width: 250px;
        }

        .categories-select__control {
            width: 250px;
            min-width: 50px;
            height: 100%;
        }

        .input-base {
            width: 250px;
        }
    }
}