.category-card-container {
    padding: 16px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.category-card-name-admin {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #263238;
    margin-top: 14px;
}

.category-name-input {
    margin-top: -12px;
}
