.home-container {
    margin-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
}

.home-content{
    background-color: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding-top: 155px;  
    padding-bottom: 150px;
    margin-bottom: 25px;
}

.text-title {
    font-size: 55px;
    line-height: 75px;
    letter-spacing: -0.015em;
}

.text-subtitle {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
    margin-top: 30px;
    margin-bottom: 150px;
}

.home-text{
    padding-left: 100px;
}

.Main-image{
    width: 100%;
}