.product-card-admin {
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;

    .product-currency {
        font-size: 14px;
    }

    .product-price {
        font-size: 24px;
    }
}

.product-card-image-admin {
    width: 100px;
    height: 100px;
    margin: 0px 10px;
}

.product-card-name-admin {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.015em;
}

.badge {
    font-size: 35%;
}

@media (max-width: 768px) {
    .card-content {
        margin-left: 10px;
    }
}
